body {
    background: #e1d8d1;
}

#searchbox,
#searchbox * {
    -webkit-box-sizing: border-box;
    -moz-box-sizing: border-box;
    box-sizing: border-box;
}

#searchbox {
    position: absolute;
    top: 20px;
    right: 20px;
    width: 450px;
    height: 68px;
    background-color: #ffffff;
    border: 1px solid #bdbdbd;
    border-radius: 2px;
    box-shadow: 0 4px 10px rgba(40, 40, 40, 0.3);
    overflow: hidden;
    -webkit-transition-property: top, right, width, height, border-radius;
    -webkit-transition-duration: 250ms;
    -webkit-transition-timing-function: ease;
}

#searchbox:before {
    content: "Search";
    position: absolute;
    top: 0;
    left: 0;
    right: 0;
    bottom: 0;
    z-index: 2;
    text-indent: -1000px;
    background: #d32f2f url("../images/magnify-white.svg") center center no-repeat;
    background-position: 22px 22px;
    pointer-events: none;
    overflow: hidden;
    opacity: 0;
    -webkit-transition-property: opacity, border-radius, background-position;
    -webkit-transition-duration: 250ms;
    -webkit-transition-timing-function: ease;
}

#searchbox.expandable {
    height: auto;
}

#searchbox.collapsing {
    top: 52px;
    right: 52px;
    width: 4px;
    height: 4px;
}

#searchbox.collapsing form {
    display: none;
}

#searchbox.collapsed {
    top: 29px;
    right: 29px;
    width: 50px;
    height: 50px;
    border: none;
    border-radius: 50%;
    box-shadow: 0 3px 18px rgba(0, 0, 0, 0.6);
    cursor: pointer;
}

#searchbox.collapsed:before {
    border-radius: 50%;
    background-position: 13px 13px;
    opacity: 1;
}

#searchbox.collapsed form {
    display: none;
    left: 100%;
    opacity: 0;
}

#searchbox form {
    position: relative;
    display: block;
    min-width: 100px;
    font-size: 0;
    padding: 15px;
}

#searchbox input {
    width: calc(100% - 35px);
    font: normal 1.4rem/1.3 "Droid Sans";
    color: #222222;
    border: 1px solid #bdbdbd;
    padding: 8px;
    outline: none;
    box-shadow: inset 0 1px 2px #f2f2f2;
}

#searchbox input:focus {
    border-color: #4d90fe;
    position: relative;
    z-index: 1;
}

#searchbox button {
    display: inline-block;
    vertical-align: top;
    width: 36px;
    height: 36px;
    text-indent: -1000px;
    border: 1px solid #bdbdbd;
    background-image: -webkit-linear-gradient(#f5f5f5, #eeeeee 10%, #dddddd);
    background-image: -moz-linear-gradient(#f5f5f5, #eeeeee 10%, #dddddd);
    background-image: linear-gradient(#f5f5f5, #eeeeee 10%, #dddddd);
    margin-left: -1px;
    overflow: hidden;
    cursor: pointer;
    outline: none;
}

#searchbox button:focus {
    border-color: #4d90fe;
    position: relative;
    z-index: 1;
}

#searchbox button:active {
    background: #eeeeee;
}

#searchbox button:before {
    content: "";
    display: block;
    width: 100%;
    height: 100%;
    background: url("../images/magnify.svg") center center no-repeat;
    background-size: 60% auto;
    opacity: 0.5;
    -webkit-transition: opacity 300ms ease;
}

#searchbox button:hover:before,
#searchbox button:active:before,
#searchbox button:focus:before {
    opacity: 1;
}

#searchbox ul {
    list-style: none;
    background-color: #ffffff;
    padding: 7px 0;
    margin-top: -1px;
    border-top: 1px solid #bdbdbd;
    box-shadow: inset 0 2px 0 0 rgba(210, 210, 210, 0.2);
}

#searchbox li {
    position: relative;
    font: normal 1.4rem/1.3 "Droid Sans";
    color: #222222;
    padding: 5px 60px 5px 24px;
    cursor: pointer;
}

#searchbox li:hover {
    color: #ffffff;
    background-color: #4d90fe;
}

#searchbox li mark {
    text-shadow: 0 0 1px #222222;
    color: #222222;
    background: none;
}

#searchbox li:hover mark {
    text-shadow: 0 0 1px #ffffff;
    color: #ffffff;
}

#searchbox li span {
    position: absolute;
    top: 4px;
    right: 24px;
    width: 20px;
    height: 20px;
    background: url("../images/checkbox-marked-circle-outline.svg") center center no-repeat;
    background-size: 75% auto;
    text-indent: -1000px;
    overflow: hidden;
    opacity: 0.5;
    -webkit-transition: opacity 300ms ease;
    -moz-transition: opacity 300ms ease;
    transition: opacity 300ms ease;
}

#searchbox li span:hover {
    opacity: 1;
}